html{
    scroll-behavior:  smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body
{
    color: #ededed;
    background: rgb(31, 1, 49);
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(31, 1, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a {
    display: inline-block;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;

}
.navbar a:hover{
    color: #C084FC;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 30px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;


}
.home-content h4 {
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .3s;
    margin-bottom: 20px;
  
}
.home-content h4 span{
    color: #C084FC;
}
.home-content h1 {
    font-size: 38px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  

}
.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #C084FC;
    border-radius: 50%;
    font-size: 20px;
    color: #C084FC;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #C084FC;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;


}
.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.about-text .btn-box {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
.about{
    min-height: 100vh;
    padding: 100px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('myphoto.jpg') no-repeat center center;
    background-size: cover;
}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #C084FC;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.sub-title span{
    color: #C084FC;


}
.container {
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 30px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 15px #0053b8f7

}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div p{
    font-size: 16px;
    line-height: 1.5;
    color:#ededed;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 10px 25px;
    width: 125px;
    background: #C084FC;
    border-radius: 30px;
    font-size: 16px;
    color: #081b29;
    letter-spacing:1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px #0ef,
                0 0 20px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.services-list div:hover{
    transform: translateY(-10px);
}

section{
    width: 100%;
}

#myskills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 10% 40px;
    margin-top: 0;
    scroll-margin-top: 100px;
    min-height: auto;
}

#myskills{
    padding-top: 100px;
    margin-top: -100px;
}
#myskills{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding: 100px 10%;
}

.container1 {
    flex: 1;
    max-width: 500px;
    margin: 0;
    padding: 0 20px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 25px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar{
    margin: 40px 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(0.25,1,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #C084FC;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(0.25,1,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{ width: 50%; }
.progress-line.python span{ width: 80%; }
.progress-line.oops span{ width: 85%; }
.progress-line.excel span{ width: 90%; }

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{ content: "50%"; }
.progress-line.python span::after{ content: "80%"; }
.progress-line.oops span::after{ content: "85%"; }
.progress-line.excel span::after{ content: "90%"; }

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 1;
}

@keyframes animate{
    100%{ transform: scaleX(1); }
}

@keyframes showText{
    100%{ opacity: 1; }
}

.radial-bars {
    width: 130%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    margin-top: 20px;
}

.radial-bars .radial-bar{
    width: calc(60% - 20%);
    height: 180px;
    margin-bottom: 20px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 120px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path{
    stroke-width: 10;
    stroke: #C084FC;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{ animation: animate-path1 1s 1s linear forwards; }
.path-2{ animation: animate-path2 1s 1s linear forwards; }
.path-3{ animation: animate-path3 1s 1s linear forwards; }
.path-4{ animation: animate-path4 1s 1s linear forwards; }

@keyframes animate-path1{ 100%{ stroke-dashoffset: 50; } }
@keyframes animate-path2{ 100%{ stroke-dashoffset: 175; } }
@keyframes animate-path3{ 100%{ stroke-dashoffset: 125; } }
@keyframes animate-path4{ 100%{ stroke-dashoffset: 75; } }

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
}

.radial-bar .text{
    width: 90%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
#myskills{
    scroll-margin-top: 100px;
}
#myskills .sub-title {
    position: relative;
    top: 120px;
    margin-bottom: 120px;
    transform: none;
}
#skills::after{
    content: "";
    display: block;
    clear: both;
}
#myskills .sub-title,
#myskills h1 {
    margin-top: 80px;
    margin-bottom: 40px ;
}

#myskills {
    padding-top: 0 ;
    margin-top: 0 ;
    min-height: auto ;
}

#myskills .skills-container,
#myskills .skills-content {
    margin-top: 0 ;
    padding-top: 0 ;
    transform: translateY(0) ;
}
.skills-section .section-title {
    display: block;
    text-align: center;
    margin: 110px auto 5px;
    font-size: 2.5rem;
    color: #C084FC;
}

#academics{
    scroll-margin-bottom: 100px;
}

#academics {
    padding: 70px 10%;
    background: rgb(31, 1, 49);
    text-align: center;
    scroll-margin-top: 100px; 
}

.sub-title {
    font-size: 60px;
    color: #ffffff;
}

.sub-title .highlight {
    color: #C084FC;
}

.academics-container {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.academic-card {
    width: 400px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 30px 25px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 20px rgba(0, 238, 255, 0.3);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    transform-style: preserve-3d;
}

.academic-card:hover {
    transform: translateY(-18px) rotateX(8deg);
    box-shadow: 0 0 30px #0ef, 0 0 70px #C084FC;
}

.academic-logo {
    width: 90px;
    margin-bottom: 20px;
}

.academic-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.academic-card h3 {
    font-size: 16px;
    color: #C084FC;
    margin-bottom: 10px;
}

.duration {
    font-size: 15px;
    opacity: 0.85;
}

.grade {
    font-size: 18px;
    margin: 15px 0 25px;
}

.grade span {
    color: #C084FC;
    font-weight: bold;
}

.academic-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: #0ef;
    color: #081b29;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px #0ef;
}

.academic-btn:hover {
    background: #C084FC;
    transform: scale(1.1);
    box-shadow: 0 0 20px #C084FC,
                0 0 50px #C084FC,
                0 0 90px #C084FC;
}

#academics{
    width: 100%;
    clear: both;
}
summary::-webkit-details-marker {
    display: none;
}
summary {
    list-style: none;
}
.academic-details summary {
    margin-bottom: 15px;

}
.academic-card {
    position: relative;
    overflow: hidden;
}

.academic-card .details {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s ease;
    padding: 20px;
    border-radius: 20px;
}

.academic-card .active .details {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.academic-details p {
    position: relative;
    margin-top: 15px;
    background: rgba(20, 20, 40, 0.95);
    padding: 12px;
    border-radius: 10px;
}
#academics {
    margin-bottom: 120px;
}
.academic-details {
    display: none;
    margin-top: 10px;
    color: #fff;
    line-height: 1.6;
}

.academic-card.active .academic-details {
    display: block;
}

@keyframes fadeIn{
    from{opacity: 0; transform:translateY(-5px);}
    to{opacity: 1; transform: translateY(0);}
}

.achievements-section {
    padding: 60px 20px;
    background: #1f0131;
    color: #ededed;
    scroll-margin-top: 70px;
}
.achievements-section .section-title {
    display: block;
    text-align: center;
    margin: 0 auto 35px;
    font-size: 3.0rem;
    color: #C084FC;
}

.achievement-category {
    margin-bottom: 40px;
}

.achievement-category h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 5px;
}

.achievement-category ul {
    list-style: none;
    padding-left: 0;
}

.achievement-category ul li {
    background: #2b0242 ;
    margin-bottom: 15px;
    padding: 25px 20px;
    border-left: 4px solid #C084FC;
    border-radius: 8px;
    width:150%;
    display: block;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.achievement-category ul li:hover {
    transform: translateX(10px);
    background: #3c0255;
}

#achievements {
  padding: 10px 10px;
  background: #1f0131;
  color: #ededed;
  font-family: 'Poppins', sans-serif;
}

#achievements .container {
  max-width: 1000px;
  margin: 0 auto;
}
.achievements-section .section-title {
    display: block;
    text-align: center;
    margin: 90px auto 5px;
    font-size: 2.5rem;
    color:#C084FC; 
}
#achievements {
    text-align: center;
}

#achievements .achievements-section,
#achievements .achievements-content,
#achievements .row,
#achievements .container,
#achievements ul {
    display: block;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #C084FC;
  margin-bottom: 40px;
}

.internship-section h3,
.certification-section h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 5px;
}

.card {
  background: #2b0242;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, background 0.3s ease;
}

.card h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #C084FC;
}

.card p {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: #ededed;
}

.card:hover {
  transform: translateY(-5px);
  background: #3c0255;
}


.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 70px;
    line-height: 1;
    text-align: left;
    margin-top: -25px;

}
.contact-text h2 span{
    color: #C084FC;
}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-list {
    margin-bottom: 10px;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display:inline-block;
    color: #C084FC;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #C084FC;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #C084FC;
    border-radius: 50%;
    font-size: 20px;
    color: #C084FC;
    text-decoration: none;
    margin:30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #C084FC;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}
.contact-form form input{

    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #9b9ba6;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
    width: 90%;
    padding: 18px;
    background: #9b9ba6;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}
.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #C084FC;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards ;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 5px #0ef;

}


.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #C084FC;
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000000;
    background: #C084FC;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;

}

#success-msg {
    display: none;
    color: #0ef;
    margin-top: 15px;
    font-size: 20px;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}







